<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<%= link_to "Add review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>



